In [14]:
import pandas as pd

In [21]:
df = pd.read_csv('Banafsheh\8101992522.csv')
df.head()

          sbj     stm        rt key  pos uhnd hndns eye sex  age  edu
0  8101992522  60.bmp  0.522509   o   11    r     r   l   f   54    2
1  8101992522  50.bmp  0.842627   p   13    r     r   l   f   54    2
2  8101992522  40.bmp  0.746928   p    1    r     r   l   f   54    2
3  8101992522  20.bmp  0.483541   p    5    r     r   l   f   54    2
4  8101992522  70.bmp  2.714855   p    7    r     r   l   f   54    2

In [16]:
df.to_csv('New folder\810199275\810199275\8101992751.csv', index=False)

In [17]:
df1 = pd.read_csv('New folder\810199275\810199275\8101992751.csv')

In [18]:
df1.head()

          sbj     stm        rt key  pos uhnd hndns eye sex  age  edu
0  8101992751  60.bmp  7.982039   p    2    r     r   r   m   23    3
1  8101992751  40.bmp  0.638810   o   12    r     r   r   m   23    3
2  8101992751  70.bmp  5.653929   p    1    r     r   r   m   23    3
3  8101992751   0.bmp  5.024961   o    8    r     r   r   m   23    3
4  8101992751  80.bmp  2.869374   p    9    r     r   r   m   23    3